body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../IMAGES/backgrounds/zed-background.jpg);
}

.grid_content{
    display: grid;
    grid-template-areas:
    "header title title"
    "header menu menu"
    "texto texto texto"
    "curso1 curso2 curso3"
    "footer footer footer";
    grid-template-rows: 3rem 3rem auto auto 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0%;
    height: 100ch;
}

/*--------- header ---------*/
header{
    background-color: rgb(93, 4, 22);
}

header h1{
    color:white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../IMAGES/backgrounds/zed-background.jpg);
}

/*--------- menu ---------*/
#menu{
    background-color: rgb(93, 4, 22);
}

#menu ul li a{
    color: white;
}

#menu ul li a:hover{
    background-image:linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../IMAGES/backgrounds/zed-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------- titulo ---------*/
#page_title{
    background-color: rgb(93, 4, 22);
    color: white;
}

/*--------- main ---------*/
#descripcion_cursos{
    grid-area: texto;
    width: 60%;
    margin: auto;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

#descripcion_cursos a{
    text-transform: uppercase;
    font-size: x-large;
    text-decoration: none;
    color: rgb(93, 4, 22);
    transition: all 1s;
}

#descripcion_cursos a:hover{
    color: black;
}

.curso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    border-color: white;
    border-radius: 1rem;
    border-style: solid;
    width: 80%;
    margin: auto;
    background-color: bisque;
}

.tipo_curso{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-transform: uppercase
}

.precio_curso{
    font-size: x-large;
    font-weight: bolder;
}

.duracion_curso{
    color: rgb(93, 4, 22);
}

.contenido_curso{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: large;
}

.compra_curso{
    text-decoration: none;
    color: white;
    background-color: rgb(93, 4, 22);
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.compra_curso:hover{
    background-image:linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../IMAGES/backgrounds/zed-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#curso_1{
    grid-area: curso1;
}

#curso_2{
    grid-area: curso2;
}

#curso_3{
    grid-area: curso3;
}

/*--------- footer ---------*/
.socials_title{
    background-color: rgb(93, 4, 22);
    color: white;
}

.credits p{
    color: white;
}


@media (max-width:360px){
    .grid_content{
        display: grid;
        grid-template-areas:
        "header" 
        "title"
        "menu"
        "texto"
        "curso1"
        "curso2" 
        "curso3"
        "footer";
        grid-template-rows: repeat(8, auto);
        grid-template-columns: auto;
        margin: 0%;
        height: 100ch;
        row-gap: 0.5rem;
    }

    header h1{
        background-image: none;
    }

    #descripcion_cursos{
        width: 80%;
    }

    .curso{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0.1rem;
        border-color: white;
        border-radius: 1rem;
        border-style: solid;
        width: 60%;
    }
}