body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMAGES/backgrounds/dark-purple-blue-background.jpg);
}

.grid_content{
    display: grid;
    grid-template-areas:
    "header title title"
    "header menu menu"
    "intro intro intro"
    "instalacion video primeros_pasos"
    "menu_guia menu_guia menu_guia"
    "objetivo objetivo objetivo"
    "torres torres torres"
    "champs champs champs"
    "caracteristicas caracteristicas caracteristicas"
    "footer footer footer";
    grid-template-rows:3rem 3rem repeat(7, auto) 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0%;
    height: 100ch;
}

/*--------- header ---------*/
header{
    background-color: rgb(246, 246, 59);
}

header h1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMAGES/backgrounds/dark-purple-blue-background.jpg);
    color: white;
}

/*--------- menu ---------*/
#menu{
    background-color: rgb(246, 246, 59);
}

#menu ul li a{
    color: black;
}

#menu ul li a:hover{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMAGES/backgrounds/dark-purple-blue-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/*--------- titulo ---------*/
#page_title{
    background-color: rgb(246, 246, 59);
}

/*--------- main ---------*/
#intro_WR{
    grid-area: intro;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
}

#intro_WR img{
    width: 30%;
    padding: 0.5rem;
    background-color: black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#intro_WR p{
    text-align: center;
    border: 3px solid rgb(246, 246, 59);
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: white;
}

.texto_manual_inicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.texto_manual_inicio h2{
    background-color: rgb(246, 246, 59);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
}

.texto_manual_inicio p{
    border: 1px solid rgb(246, 246, 59);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding:0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 100%;
}

#instalacion{
    grid-area: instalacion;
}

#video_gameplay{
    grid-area: video;
    display: flex;
    justify-content: center;
}

#video_gameplay iframe{
    width: 100%;
    padding: 0.3rem;
    background-color: black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#primeros_pasos{
    grid-area: primeros_pasos;
}

#menu_guia{
    grid-area: menu_guia;
    background-color: rgb(246, 246, 59);
    margin: 1rem;
    padding-top: 1rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

#menu_guia ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

#menu_guia ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    transition: all 1s;
}

#menu_guia ul li a:hover{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMAGES/backgrounds/dark-purple-blue-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.articulo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem;
}

.articulo span{
    width: 40%;
}

.titulo_articulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-transform: uppercase;
    background-color: rgb(246, 246, 59);
    color: black;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.descripcion_articulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
}

.lista_articulo{
    list-style: circle;
    list-style-position: inside;
    color: bisque;
}

.imagen_articulo{
    width: 50%;
    padding: 0.5rem;
    background-color:black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#objetivo{
    grid-area: objetivo;
}

#torres{
    grid-area: torres;
}

#elegir_campeon{
    grid-area: champs;
}

#elegir_campeon h2{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    background-color:rgb(246, 246, 59);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 80%;
    margin: auto;
}

.carriles_campeones{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contenedor_carriles{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    margin: auto;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.titulo_carril{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.imagen_carril{
    width: 20%;
    height: 20%;
}

.descripcion_carril{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
}

#otras_caracteristicas{
    grid-area: caracteristicas;
}

/*--------- footer ---------*/
.socials_title{
    background-color: rgb(246, 246, 59);
}

.credits p{
    color: white;
}


@media (max-width:360px){
    .grid_content{
        display: grid;
        grid-template-areas:
        "header" 
        "title"
        "menu"
        "intro"
        "instalacion" 
        "video" 
        "primeros_pasos"
        "menu_guia"
        "objetivo"
        "torres"
        "champs"
        "caracteristicas"
        "footer";
        grid-template-rows:repeat(13, auto);
        grid-template-columns: 1fr;
        margin: 0%;
        height: 100ch;
        row-gap: 0.5rem;
    }

    header h1{
        background: none;
        color: black;
    }

    #intro_WR{
        grid-area: intro;
        display: flex;
        flex-flow: column nowrap;
    }

    #intro_WR img{
        width: 80%;
    }
    
    #intro_WR p{
        border: 1px solid rgb(246, 246, 59);
        width: 90%;
    }

    #video_gameplay iframe{
        width: 80%;
    }

    .articulo{
        flex-flow: column wrap;
    }

    .articulo span{
        width: 90%;
    }
    
    .imagen_articulo{
        width: 80%;
    }

    #elegir_campeon h2{
        font-size: medium;
        width: 60%;
        margin: auto;
    }
    
    .contenedor_carriles{
        flex-direction: column;
        text-align: center;
    }

    .descripcion_carril{
        font-weight: lighter;
    }
}