$gradient_4_8:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
$gradient_3_3:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
$gradient_9_9:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
$gradient_8_8:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$gradient_6_6:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$gradient_7_9:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
