/*#######################################*/
/*-- GUIA_HTML MAIN --*/
#intro-wr{
    background: $gradient_8_8, url(../images/backgrounds/zed-background.jpg);
    background-size: cover;
}

.descripcion-intro{
    transition: all 0.5s;
    &:hover{
        background: linear-gradient(rgba(6, 9, 51, 0.9), rgba(6, 9, 51, 0.9));
        border-radius: 1rem;
    }
}

#menu-guia{
    li{
        transition: all 0.1s;
        &:hover{
            background-color: $azul_guia;
        }
    }
}

/*utilizo un map para generar los backgrounds de los carriles*/
$carriles:(
    top: darius, 
    jungla: jarvan, 
    mid: akali, 
    supp: braum, 
    adc: miss-fortune,
);

@each $rol, $campeon in $carriles {
    ##{$rol}{ 
        background: $gradient_7_9, url(../images/backgrounds/#{$campeon}-background.jpg);
        background-size: cover;
    }    
}

.titulo-carril{
    background: $gradient_6_6;
}

.descripcion-carril{
    transition: all 0.5s;
    border-radius: 1rem;
    &:hover{
        background: $gradient_6_6;
    }
}