/*#######################################*/
/*-- NOSOTROS_HTML MAIN --*/

.nosotros-main{
    background: url(../../images/backgrounds/white-stripe-background.png), linear-gradient(rgb(227, 21, 42), white);
    background-size: cover;
}

.menu-nosotros{
    a{
        text-decoration: underline;
    }
}

/*utilizo un mixin para mis articulos sobre nosotros*/
@mixin articulos($width-1, $border, $text-align, $style, $transicion, $width-2, $color, $radius, $gradiente) {
    width: $width-1;
    border-bottom: $border;
    text-align: $text-align;
    .titulo-nosotros{
        font-style: $style;
    }
    .descripcion-nosotros{
        width: $width-2;
        padding: 2rem;
        border: 1px solid $color;
        border-top-right-radius: $radius;
        border-bottom-left-radius: $radius;
        transition: $transicion;
        &:hover{
            background: $gradiente;
        }
    }
}

#articulo-nosotros-1{
    background:$gradient_8_8, url(../../images/nosotros/infinity-esports.jpg);
    background-size: cover;
    @include articulos(100%, 2px solid rgb(0, 0, 108), left, italic, all 1s, 75%, rgb(210, 0, 0), 1rem, linear-gradient(rgba(60, 0, 0, 0.9), rgba(60, 0, 0, 0.9)));
}

#articulo-nosotros-2{
    background:$gradient_8_8, url(../../images/nosotros/mobile-esports-team.jpg);
    background-size: cover;
    @include articulos(100%, 2px solid rgb(108, 0, 0), right, italic, all 1s, 75%, rgb(0, 0, 210), 1rem, linear-gradient(rgba(0, 9, 60, 0.9), rgba(0, 9, 60, 0.9)));
}

#imagen-cabecera-preguntas{
    background-color: $rojo_preguntas;
    img{
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
}

#seccion-preguntas{
    background-color: $rojo_preguntas;
}

.listado-preguntas{
    list-style: none;
    h3{
        color: $bordo_preguntas;
    }
    li{
        p{
            font-size: x-large;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
}